@model IEnumerable<FoodTruck.Models.Reservation>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Reservation res in ViewBag.ReservationBag) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => res.ReservationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => res.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => res.NumGuests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => res.PackageDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => res.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => res.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => res.Price)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
