@model IEnumerable<FoodTruck.Models.FoodItem>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vegan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (FoodItem food in ViewBag.FoodBag) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => food.ItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => food.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => food.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => food.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => food.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => food.Vegan)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
